<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет posts -->
{% block title %}
    Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <h1>Всего публикаций - {{ posts|length }}</h1>
    <!-- Выводим посты, только если они есть с помощью тега if -->

    <hr>
    {% if posts %}
        <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   Заголовок
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   Дата публикации
               </td>
               <td>
                   Анонс
               </td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->
            <!-- Для каждой публикации будет генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла. -->
           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d.m.Y' }} </td>
               <td>{{ post.content|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
        </table> <!-- ... и таблицы -->
    {% else %}
        <!-- Если постов нет, говорим, что публикаций нет ;) -->
        <h2>Публикаций нет!</h2>
    {% endif %}
{% endblock content %}
