{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет posts -->
{% block title %}
    Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <h1>Все публикации</h1>
    <!-- Выводим посты, только если они есть с помощью тега if -->
    {% if is_not_subscriber %}
        <p class="text-center">
            <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a>
        </p>
    {% endif %}

    <hr>
    {% if category_news_list %}
        <table> <!-- Начинаем описывать таблицу -->
            <tr> <!-- Добавляем строку -->
                <td> <!-- Добавляем ячейку в строку -->
                    Заголовок
                </td>
                <td>
                    Категории
                </td>
                <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                    Дата публикации
                </td>
                <td>
                    Анонс
                </td>
            </tr> <!-- Не забываем закрыть HTML-тег строки -->
            <!-- Для каждой публикации будет генерироваться новая строчка,
            т.е. новый HTML код, который указан в теле цикла. -->
            {% for post in category_news_list %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>{{ post.time_in|date:'d.m.Y' }} </td>
                <td>{{ post.content|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}
        </table> <!-- ... и таблицы -->
    {% else %}
        <!-- Если постов нет, говорим, что публикаций нет ;) -->
        <h2>Публикаций нет!</h2>
    {% endif %}

{# Добавляем пагинацию на страницу #}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}